@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100&display=swap');

/* Configurações iniciais */

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-weight: 10;
    font-style: normal;
}

*{
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* =-=-=-=-=-=-=-=-=-=-= Configurações da nav/header =-=-=-=-=-=-=-=-=-=-=*/

header {    
    width: 100%;
    background-color: #071c20;
    color: white;
    padding: 1% 2%;
    height: 40px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

hr{
    margin: 3% 10% 3% 10%;
}

header h1 {
    font-size: 170%;
    padding: 0% 1% 0% 1%;
    font-weight: 600;
}

header nav {
    font-weight: 600;
}

header ul {
    align-items: center;
    list-style: none;
    display: flex;
}

li {
    margin: 0px 15px;
}

a {
    color: white;
    text-decoration: none;
}

.navc{
    padding: 4%;
}

.titulo-constroo {
    width: 10%;
    align-items: center;
    display: inline-flex;
    font-size: 110%;
}

.titulo-constroo img{
    width: 2.5rem;
    margin: 0rem 0rem 0rem 1rem;
}

.ref-parte:hover{
    text-decoration: underline;
}

/* =-=-=-=-=-=-=-=-=-=-= Estilização da parte de apresentação do aplicativo =-=-=-=-=-=-=-=-=-=-=*/

#constroo{
    font-size: 250%;
}

.aprsapp {
    display: flex;
    align-items: center;
    padding: 5% 0% 8% 0%;
    background-color: #0a262c;
    color: rgb(255, 255, 255);
    justify-content: center;
    width: 100%;
}

.textos{
    margin-right: 150px;
    width: 500px;
}

.logo-apresentacao{
    margin: 0% 0% 0% 15%;
}

.sabermais{
    font-size: 80%;
    margin: 2% 0% 0% 0%;
    display: flex;
    align-items: center;
}

.sabermais img{
    height: 18%;
    margin: 0% 1% 0% 0%;
}

#app{
    width: 150%;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 1000;
    font-size: 600%;
}

/* =-=-=-=-=-=-=-=-=-=-= Estilização da parte de "Materiais Usados" =-=-=-=-=-=-=-=-=-=-=*/

.marketplace{
    justify-content: center;
    align-items: center;
    margin: 5% 4%;
    color: #0a262c;
    display: flex;
}

.marketplace img{
    margin-left: 2%;
    display: flex;
    height: 500px;
    margin-bottom: 10px;
}

.textomarket{
    margin: 0% 0% 0% 8%;
    width: 1000px;
    align-self: flex-start;
    flex-wrap: wrap;
}

.textomarket h1{
    font-weight: 900;
    font-size: 270%;
    padding-bottom: 3%;
}

#marketconstroo {
    width: 80%;
    font-size: 120%;
    font-weight: 500;
}

/* =-=-=-=-=-=-=-=-=-=-= Estilização do bloco de vantagens =-=-=-=-=-=-=-=-=-=-=*/

.vantagens{
    width: 100%;
    align-content: center;
    align-items: center;
    background-color: #0a262c;
    padding-bottom: 7%;
}

.vantagens h1{
    color: white;
    display: flex;
    justify-content: center;
}

.quadrado-informacao{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
    padding-top: 3%;
}

.q1{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 30px;
    width: 27%;
    color: #0a262c;
    background-color: white;
    align-items: center;
}

.q1 h2{
    font-size: 30px;
}
.q1 p{
    height: 130px;
}

/* =-=-=-=-=-=-=-=-=-=-= Configurações da parte de "como" =-=-=-=-=-=-=-=-=-=-=*/

.como{
    margin: 10% 0%;
}

.direita{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.direita-texto{
    margin: 0% 0% 0% 5%;
}

.imagem-direita{
    display: flex;
    justify-content: flex-end;
}

.texto-como{
    width: 75%;
    font-size: 130%;
    font-weight: 500;
}

.titulo-como{
    font-size: 300%;
    color: #071c20;
    font-weight: 900;
    width: 100%;
}

#texto-como-esquerda{
    width: 80%;
    font-size: 130%;
    font-weight: 500;
}

#esquerda{
    display: flex;
    margin: 10% 0%;
    align-items: center;
}

#esquerda img{
    margin: 0% 7% 0% -15px;
}

#esquerda-texto{
    width: 120%;
}

/* =-=-=-=-=-=-=-=-=-=-= Estilização da parte de "quem somos" =-=-=-=-=-=-=-=-=-=-=*/

.quem-somos{
    display: flex;
    width: 100%;
    justify-content: center;
}

.quem-somos-texto{
    color: #0a262c;
    margin: 0% 12% 0% 0%;
    width: 60%;
}

.construconecta{
    font-size: 140%;
    margin: 0% 0% 4% 12%;
    width: 60%;
}

#quem-somos-titulo{
    margin: 0% 11%;
    padding: 0% 0% 5% 0%;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0px;
}

#imagem-empresa img{
    width: 22rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Estilização do carrossel - Apresentação da equipe =-=-=-=-=-=-=-=-=-=-=*/

#eq{
    font-size: 350%;
}

.apr-equipe{
    text-align: center;
}

.carrossel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0% 0% 5% 0%;

}

.slide{
    justify-content: space-between;
    display: flex;
    display: none;
}

.foto-equipe {
    width: 300px;
    margin: 2%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.botao-carrossel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.active{
    display: block;
}

/* =-=-=-=-=-=-=-=-=-=-= Configurações do footer =-=-=-=-=-=-=-=-=-=-=*/

footer {
    background-color: #062530;
    color: #ffffff;
    padding: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase{
    width: 30%;
    font-style: italic;
    font-size: 125%;
}

.footer-container {
    display: flex;
    width: 90%;
}

.footer-item {
    width: 15%;
    margin: 0% 7%;
}

.footer-item h3 {
    font-size: 120%;
    margin-bottom: 10px;
}

.footer-item ul {    
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0%;
}

.direitos {
    background-color: #062530;
    color: white;
    text-align: center;
    padding: 0.4% 0%;
    font-size: 80%;
}

#imagem-empresa{
    display: flex;
    justify-content: center;
    width: 30%;
}

#baixar{
    background-color: #867151;
    border-radius: 10px;
    height: 35px;
    border: 0px;
    width: 80px;
    transition: 0.5s;
    font-size: 100%;
    font-weight: 600;
    margin: 10px;
}

#baixar:hover{
    transition: 0.5s;
    background-color: #493e2e;
}

#tt{
    justify-content: flex-start;
    width: 130%;
    font-weight: 410;
    font-size: 150%;
    line-height: 150%;
}

#baixeja{
    color: white;
    font-weight: 700;
    font-size: 150%;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 60%;
    transition: 1s;
    background-color: #867151;
}

#baixeja:hover{
    transition: 1s;
    background-color: #493e2e;
}

/* =-=-=-=-=-=-=-=-=-=-= Sem categoria =-=-=-=-=-=-=-=-=-=-=*/

.ancora {
    display: block;
    height: 90px;
    margin-top: -100px; 
    visibility: hidden;
}

.negrito {
    font-weight: bold;
}