@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-weight: 10;
    font-style: normal;
}

*{
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #071c20;
    color: white;
    padding: 1% 2%;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

hr{
    margin: 0% 10% 5% 10%;
}

header h1 {
    padding: 0% 1% 0% 1%;
    font-weight: 600;
}

header nav {
    font-weight: 600;
}

header ul {
    align-items: center;
    list-style: none;
    display: flex;
}

li {
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.navc{
    padding: 4%;
}

.titulozao{
    align-items: center;
    display: flex;
}
.coisa:hover{
    text-decoration: underline;
}
    
.direitos {
    background-color: #0a262c;
    color: white;
    text-align: center;
    padding: 1% 0%;
}

#constroo{
    font-size: 250%;
}

.aprsapp {
    display: flex;
    align-items: center;
    padding: 6%;
    height: 50%;
    background-color: #0a262c;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

.aprsapp img {
    height: 500px;
    margin-bottom: 1%;
}

.sabermais{
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.sabermais img{
    margin-top: 10px;
    margin-right: 2px;
    display: flex;
    height: 18px;
}

.app{
    width: 800px;
    margin-bottom: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 1000;
    font-size: 80px;
}

.textos{
    width: 500px;
    flex-direction: column;
    justify-content: flex-start;
}

.qmsomos{
    padding: 0% 3%;
    background-color: #867151;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quemsomostexto{
    justify-content: space-between;
    color: #ffffff;
}

.imagemconstruconecta{
    margin: 1% 0%;
    border-radius: 100px;
    width: 750px;
    background-color: #ffffff;
}

.marketplace{
    align-items: center;
    padding: 5% 4%;
    color: #0a262c;
    display: flex;
    justify-content: space-between;
}

.marketplace img{
    margin-left: 20px;
    display: flex;
    height: 450px;
    margin-bottom: 10px;
}

.textomarket{
    margin: 0% 0% 0% 8%;
    justify-self: flex-end;
    align-self: flex-start;
}

.textomarket h1{
    font-weight: 900;
    font-size: 270%;
    padding-bottom: 3%;
}

.comocomprar{
    display: flex;
    color: #0a262c;
}

.vantagens{
    align-content: center;
    align-items: center;
    background-color: #0a262c;
    padding-bottom: 7%;
}

.vantagens h1{
    color: white;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.quadrados{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
    padding-top: 3%;
}

.q1{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 30px;
    width: 27%;
    color: #0a262c;
    background-color: white;
    align-items: center;
}

.q1 h2{
    font-size: 30px;
}
.q1 p{
    height: 130px;
}

.direita{
    justify-content: flex-end;
    padding: 70px 0px;
    display: flex;
}

.direita img{
    padding-left: 4%;
}
.direitatexto{
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
}

.direita h1{
    font-size: 300%;
    color: #071c20;
    font-weight: 900;
}

.direita p{
    font-size: 130%;
    font-weight: 500;
    width: 120%;
}

.esquerda{
    display: flex;
}

.esquerda img{
    padding-right: 7%;
}

.esquerdatexto{
    padding: 80px 50px;
}

.comovender h1{
    font-size: 300%;
    color: #071c20;
    font-weight: 900;
}

.comovender p{
    font-size: 120%;
    font-weight: 500;
}

.textocomo{
    width: 500px;
}

.equipe{
    align-items: center;
    height: 400px;
}

.carousel-container {
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    justify-content: space-between;
}

.carousel-item {
    padding: 0px 30px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    transition: transform 0.5s;
}

.carousel-item img {
    width: 300px;
    height: 300px;
    border-radius: 1000px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.prev {
    background-color: #ffffff00;
    left: 10px;
}

.next {
    background-color: #ffffff00;
    right: 10px;
}

footer {
    background-color: #062530;
    color: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.footer-item {
    flex: 1;
    padding: 0 15px;
}

.footer-item h3 {
    font-size: 120%;
    margin-bottom: 10px;
}

.footer-item ul {    
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.footer-item ul li {
    display: flex;
    margin-bottom: 8px;
}

.footer-item p {
    font-style: italic;
    font-size: 16px;
}

#eqt{
    display: flex;
    justify-self: center;
    align-items: center;
}

#tt{
    justify-content: flex-start;
    width: 600px;
    font-weight: 410;
    font-size: 25px;
    word-spacing: 1px;
    line-height: 40px;
}

#cadastro{
    transition: 1s;
    margin-left: 14px;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    background-color: #867151;
}

#cadastro:hover{
    transition: 1s;
    background-color: #493e2e;
}

#cadas{
    font-weight: 700;
    font-size: 30px;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    transition: 1s;
    background-color: #867151;
}

#cadas:hover{
    transition: 1s;
    background-color: #493e2e;
}

#qs{
    margin: 50px 25px;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 0px;
}

#construconecta{
    font-size: 150%;
    margin-left: 30px;
    width: 500px;
}

#construlogo{
    margin: 200px 200px ;
    justify-content: center;
    height: 170px;
}

#marketconstroo {
    width: 800px;
    font-size: 20px;
    font-weight: 500;
}

.ancora {
    display: block;
    height: 120px;
    margin-top: -120px; 
    visibility: hidden;
}